<!DOCTYPE html>
<html lang="en" ng-app="todos">
<head>
	<meta charset="UTF-8">
	<title>iCloud</title>
	<link rel="stylesheet" href="./css/index.css">
	<!-- <link rel="stylesheet" href="./css/materialize.css"> -->
	<script src="./js/angular.js"></script>
	<script src="./js/angular-animate.js"></script>
	<script src="./js/index.js"></script>


</head>
<body ng-controller="mainCtrl">
	<div class="box">
		<!-- 左侧列表 -->
		<div class="list">
			<div class="item icloud">
				<div class="img">
					
				</div>
				<div class="name">
					<span class="tx">提醒事项</span>
					<span class='icon1'></span>
				</div>

				<div class="jiahao" ng-click="addtodos()">
					
				</div>
			</div>

			<div class="item jihua">
				<div class="img"></div>
				<div class="name">
					<span class="tx">已计划</span>
				</div>
			</div>

			<ul class="shixiang">
				<li class="item item1 " ng-repeat="v in todolist" ng-click="currenttodo(v)" >
					<div class="img" ng-class="'img'+v.theme"></div>
				<div class="name">
				<input type="text" ng-model="v.name" value="v.name" id="name"  ng-change="save()">
				<!-- <label for="name" class="tx">{{v.name}}</label> -->
					<!-- <span class="tx">完成iCloud</span> -->
				</div>
				</li>

				<!-- <li class="item item1">
					<div class="img img2"></div>
				<div class="name">
					<span class="tx">购物</span>
				</div>
				</li>
				<li class="item item1">
					<div class="img img3"></div>
				<div class="name">
					<span class="tx">购物</span>
				</div>
				</li>

				<li class="item item1">
					<div class="img img4"></div>
				<div class="name">
					<span class="tx">购物</span>
				</div>
				</li>

				<li class="item item1">
					<div class="img img5"></div>
				<div class="name">
					<span class="tx">购物</span>
				</div>
				</li>

				<li class="item item1">
					<div class="img img6"></div>
				<div class="name">
					<span class="tx">购物</span>
				</div>
				</li> -->
			</ul>
		</div>


		<!-- 右侧详细信息 -->
		<div class="container">
			<!-- 搜索 -->
			<div class="sousuo">
				<div class="img">
					
				</div>

				<div class="shuru">
					<input type="text" alt="搜索所有提醒" value="搜索所有提醒">
				</div>

				<div class="right">
					<div class="img">
						
					</div>
					<div class="line">
						
					</div>
				</div>
			</div>

			<!-- main -->
			<div class="mainlist">
				<div class="item lieming">
					<span class="biaoti">{{currenttodos.name}}</span>
					<span class="caidan" ng-click="deletetodo()">删除</span>
					<!-- <div class="deletebtn" ng-click="deletetodo()"> 删除</div> -->
				</div>

				<div class="item wancheng">
					<div class="img" ng-class="'img'+currenttodos.theme">
						
					</div>
					<span class="state" >已完成：<span class="num" >{{num}}</span>项</span>

					<span class="qingchu" ng-click="delete()">清楚已完成事项</span>
				</div>

				<div class="item time">
					<span id="nowtime">2016年6月4日 星期六</span>
				</div>
				
				<div class="wcsx">
					<ul>
						<li class="item img" ng-repeat="m in currenttodos.shixiang" ng-if="m.state==='true'">
							<div class="img" ng-class="'img'+currenttodos.theme" ng-click="stategb1($index)">
								
							</div>
							<span class="name"><input type="text" ng-model="m.name" value="m.name"></span>
						</li>
					</ul>
				</div>

				<div class="new">
					<ul>
						<li class="newitem" ng-repeat="m in currenttodos.shixiang" ng-if="m.state==='false'">
							<div class="img" ng-class="'img'+currenttodos.theme" ng-click="stategb($index)">
								
							</div>
							<span class="name"><input  type="text" ng-model="m.name" value="m.name" ></span>
						</li>
						<li class="newitem1"ng-click="newtodos()">
							
							<span class="name" >新项目...</span>
						</li>
					</ul>
				</div>

			</div>



		</div>




	</div>
</body>
<script src="./js/index.js"></script>
</html>